Package: srkbz-workr
Version: 0.2.0
Section: base
Priority: optional
Architecture: amd64
Maintainer: Carlos Fdez. Llamas <hello@sirikon.me>
Description: srk.bz Workr
 https://github.com/srkbz/infra
Depends: srkbz-base, workr
