[Unit]
Description=srkbz Minecraft

[Service]
WorkingDirectory=/var/srkbz/minecraft
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/bin/ourcraft daemon

Restart=on-failure
RestartSec=3

KillSignal=SIGINT
TimeoutStopSec=60

[Install]
WantedBy=default.target
