Package: srkbz-apt
Version: 0.4.0
Section: base
Priority: optional
Architecture: amd64
Maintainer: Carlos Fdez. Llamas <hello@sirikon.me>
Description: srk.bz APT
 https://github.com/srkbz/infra
Depends: srkbz-base, apt-utils
