Package: quickjs
Version: 2020.11.08
Section: base
Priority: optional
Architecture: amd64
Maintainer: Carlos Fdez. Llamas <hello@sirikon.me>
Description: srk.bz quickjs distribution
 https://github.com/srkbz/infra
