Package: quickjs
Version: 2021.03.27
Section: base
Priority: optional
Architecture: amd64
Maintainer: Carlos Fdez. Llamas <hello@sirikon.me>
Description: srk.bz quickjs distribution
 https://github.com/srkbz/infra
